p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 3em;
    overflow: hidden;
    border-radius: 7px;
    padding: 2px;
    border: 2px solid #021a40;
    background-color: #ff0;
}
.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 171px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}