.css_file_test
{
     color: aquamarine; text-align: right;
}
.My_Style
{
    background-color: salmon;
color:rgb(22, 40, 22);
text-decoration-line: underline;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 700;
font-size: medium;
text-align:center;
}