
.anythingbutGOTtable {
    border-width: 83%;
    border-radius: 7px;
    border-color: rgb(3, 19, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: rgb(69, 53, 63);
    color: rgb(200, 211, 242);
    font-size: large;
    font-style: oblique;
}
.except {
    border-width: 83%;
    border-radius: 7px;
    border-color: rgb(3, 19, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: rgb(69, 53, 63);
    color: rgb(200, 211, 242);
    font-size: large;
    font-style:normal

}
.table_text {
    border-width: 83%;
    border-radius: 7px;
    border-color: rgb(3, 19, 21);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    background-color: rgb(69, 53, 63);
    color: rgb(200, 211, 242);
    font-size: large;
    font-style: normal;
}